.addItemContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 450px;
    background-color: rgba(17, 17, 17, 0.541);
    border: 1px solid rgba(44, 38, 38, 0.952);
    border-top: 10px solid var(--menu-color2);
    display: grid;
    grid-template-rows: 20% 60%;

  }
.addItemForm {
    display: grid;
    /* grid-template-columns: 50 */
    grid-gap: 3%;
}
.addItemForm input {
    padding: 3px;
    height: 42px;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background: none;
    outline: none;
    border: none;
    background-color: rgba(75, 62, 62, 0.26);
    box-shadow:inset 0 0 2px 1px rgb(51, 53, 49);
}
.addButton {
    cursor: pointer;
    margin: 1% 25% 0% 25%;
    height: 35px;
    width: 50%;
    background: none;
    border: 1px solid var(--menu-color);
}

.itemType {
    display: grid;
    grid-template-columns: repeat(3,33%);
  }
  .itemIcon {
    width: 35px;
    height: 35px;
  }
  #clothesIcon {
    position:relative;
    top: -25%;
  }
  #shoeIcon {
    position: relative;
    top: -35%;
    width: 40px;
    height: 40px;
  }
  #hatIcon {
      position:relative;
      top: -25%;
  }

  /* Hiding default radio buttons */
[type="radio"]:checked,
[type="radio"]:not(:checked) {display: none;}

/* Custom radio buttons */
[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
  margin: 5px;
  display: block;
  text-align: center;
  position: relative;
  cursor: pointer;
  height: 60%;
  /* border: 1px solid pink; */
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
  content: '';
  width: 100%;
  height: 100%;
  /* background: var(--menu-color3); */
  border-bottom: 1px solid var(--menu-color2);
  opacity: 0.6;
  position: absolute;
  left: 0px;
  top: 0px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
}
[type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
