*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Assistant, sans-serif;
  color: var(--font-color);
}
:root {
  --background-color:rgb(24, 32, 37);
  --menu-color: rgb(22, 119, 78);
  --menu-color2: rgb(51, 138, 109);
  --menu-color3: rgb(11, 109, 68);
  --font-color: #C5C6C7;
  overflow: hidden;
}
.App {
  text-align: center;
  background-color: var(--background-color);
  height: 100vh;
  width: 100vw;
  font-size: 17px;
  overflow-x: hidden;
}

.link {
  text-decoration: none;
}

.navigation {
  color: var(--font-color);
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%,-50%);
  display: grid;
  grid-template-columns:repeat(4,30%);
  font-family: Assistant, sans-serif;
  font-size: 0.8em;
}
.naviElement {
  display: flex;
  justify-content: space-between;
}
.naviElement:hover{
  color: rgb(226, 226, 226);
}
