*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Assistant, sans-serif;
  color: var(--font-color);
}
:root {
  --background-color:rgb(20, 26, 32);
  --menu-color: rgb(82, 189, 182);
  --menu-color2: rgb(30, 139, 134);
  --font-color: #C5C6C7;
  overflow: hidden;
}
.App {
  text-align: center;
  background-color: var(--background-color);
  height: 100vh;
  width: 100vw;
  font-size: 17px;
}
#index-photo {
  position: absolute;
  top: -20%;
  left:60%;
  opacity: 0.5;
}
.link {
  text-decoration: none;
}

.naviContainer {
  position: relative;
  width: 100vw;
  height: 7vh;
}
.navigation {
  position: relative;
  color: var(--font-color);
  position: relative;
  padding-left: 5%;
  left: 70%;
  top: 70%;
  transform: translateY(-50%);
  display: grid;
  grid-template-columns:repeat(4,5%);
  font-family: Assistant, sans-serif;
  font-size: 0.8em;
  align-content: center;
  justify-items: center;
}
.navigation span:hover{
  cursor: pointer;
  color: rgba(226,226,226, 0.9);
}
.naviElement{
display: flex;
justify-content: center;
align-items: center;
}
