

.itemInfoContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 800px;
  height: 500px;
  background-color: rgba(17, 17, 17, 0.541);
  border: 1px solid var(--menu-color4);
  border-top: 10px solid var(--menu-color2);
  display: grid;
  grid-template-rows: 12% 44% 44%;

}

.itemHeader {
  display: flex;
  /* align-content: center; */
  padding-top: 3%;
  justify-content: center;
  /* border: 1px solid blue; */
}


.itemOptions {
  /* padding-top: 10px; */
  position: relative;
  /* border: 1px solid red; */
}

.itemOptions p button {
  width: 500px;
  height: 50px;
  margin: 5px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  background-color: rgba(71,70,70, 0.200);
}
.itemOptions p button:hover {
  background-color: rgba(90,90,90,0.200);
}

.itemPhotos {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4,25%);
  /* border-top: 1px solid var(--menu-color4); */

}
.itemPhoto {
  border: 2px solid var(--menu-color4);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  cursor: pointer;
  /* width: 250px; */
  /* height: 250px; */
}



/* DO USUNIECIA */

/* remove origin radio buttons  */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    display: none;
}

[type="radio"]:checked + label {
    position: relative;
    cursor: pointer;
    height: 30px;
    padding: 5%;
}
[type="radio"]:not(:checked) + label
{
    position: relative;
    cursor: pointer;
    height: 30px;
    padding: 5%;
}
