/* main color */
/* details */
/* clicked menu button */
/*bordes */
.modify {
  position: relative;
  left: -15%;
  height: 100%;
  width: 123%;
}

.modifyForm {
  display: grid;
  position: relative;
  top: 7%;
}
.modifyForm #itemName {
  background: none;
  left: 50%;
  transform: translate(-50%);
  border: none;
  font-size: 17px;
  margin: 10px;
  text-align: center;
}
.modifyForm input {
  padding: 1%;
  height: 42px;
  width: 50%;
  font-size: 12px;
  position: relative;
  background: none;
  outline: none;
  border: none;
  border: 1px solid #1e2529;
  background-color: rgba(90, 94, 92, 0.212);
  border-radius: 2%;
}
.modifyForm span {
  font-size: 11px;
  position: absolute;
  opacity: 0.8;
  color: rgba(177, 172, 172, 0.664);
}
.modifyForm #dimensions {
  margin-top: 15px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modifyForm #dimensions input {
  text-align: center;
  margin: 2px;
}
.modifyForm #dimensions #length {
  left: 40%;
  top: 36%;
}
.modifyForm #dimensions #width {
  left: 73%;
  top: 36%;
}
.modifyForm #dimensions #shoeInsert {
  left: 80%;
  top: 36%;
}
.modifyForm #prices {
  margin-top: 15px;
  position: relative;
  width: 65%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modifyForm #prices input {
  margin: 2px;
  text-align: right;
  padding-right: 20px;
}
.modifyForm #prices #bPrice {
  top: 35%;
  left: 13%;
}
.modifyForm #prices #sPrice {
  left: 52%;
  top: 35%;
}
.modifyForm #prices #esPrice {
  left: 55%;
  top: 35%;
}
.modifyForm #shipInfo {
  margin-top: 15px;
  position: relative;
  width: 65%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modifyForm #shipInfo input {
  text-align: right;
  margin: 2px;
  width: 50%;
}
.modifyForm #shipInfo select {
  background-color: rgba(90, 94, 92, 0.212);
  outline: none;
  border: none;
  position: relative;
  margin: 3px;
  width: 50%;
}
.modifyForm #shipInfo select option {
  background-color: #5a5e5c;
}
.modifyForm #shipInfo #tracking {
  top: 35%;
  left: 3%;
}
.modifyForm #shipInfo #shipcp {
  left: 52%;
  top: 35%;
}
.modifyForm #cond {
  height: 35px;
  margin-top: 15px;
  position: relative;
  width: 20%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modifyForm #cond select {
  height: 100%;
  width: 100%;
  background-color: rgba(90, 94, 92, 0.212);
  outline: none;
  border: none;
  position: relative;
}
.modifyForm #cond select option {
  background-color: #5a5e5c;
}
.modifyForm #cond #condSpan {
  position: absolute;
  left: 40%;
  top: 35%;
}
.modifyForm #cond #condSpan:hover {
  cursor: default;
}

.addButton {
  cursor: pointer;
  margin: 1% 25% 0% 25%;
  height: 35px;
  width: 50%;
  background: none;
  border: 1px solid #568d0e;
}

@media only screen and (max-width: 1100px) {
  .modifyForm #itemName {
    font-size: 14px;
  }
  .modifyForm #dimensions {
    width: 80%;
  }
  .modifyForm #prices {
    width: 80%;
  }
  .modifyForm #shipInfo {
    width: 80%;
  }
  .modifyForm #cond {
    width: 40%;
    height: 30px;
  }

  .addButton {
    margin-top: 30px;
    height: 25px;
    width: 50%;
  }
}
@media only screen and (max-width: 1440px) {
  .modifyForm input {
    height: 27px;
    font-size: 11px;
  }
  .modifyForm span {
    font-size: 9px;
  }

  .addButton {
    margin-top: 30px;
    height: 30px;
    width: 50%;
  }
}

/*# sourceMappingURL=modifyItem.css.map */
