@import url('App.css');

.naviContainer {
    position: relative;
    width: 100vw;
    height: 7vh;
  }
  .navigation {
    position: relative;
    color: var(--font-color);
    position: relative;
    padding-left: 5%;
    left: 70%;
    top: 70%;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns:repeat(4,5%);
    font-family: Assistant, sans-serif;
    font-size: 0.8em;
    align-content: center;
    justify-items: center;
  }
  .navigation span:hover{
    cursor: pointer;
    color: rgba(226,226,226, 0.9);
  }
  .naviElement{
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  }