@import url('App.css');


/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #69686857;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--menu-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(41, 40, 40, 0.336);
}

.tableContainer {
    position: absolute;
    width: 65vw;
    height: 60vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 0.9em;
    cursor: pointer;
  }
  /* Table navi */
.noteTableNavi {
  display: flex;
}
/* Table Navi Buttons (Current|Sold|Pending */
.naviButton {
  width: 100%;
  height: 50px;
  border: none;
  background-color: var(--menu-color);
  outline: none;
  font-size: 0.9em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Content of note table */
.noteContent {
  position: relative;
  overflow-y: auto;
  height: 90%;
}
/* Items navigation */
.itemsInfo {
  display: grid;
  padding-top: 3px;
  grid-template-columns: 40% 10% 15% 15% 10% 5%;
  padding-bottom: 10px;
  opacity: 0.5;
  font-size: 12px;
}
.itemSlot {
  display: grid;
  grid-template-columns: 40% 10% 15% 15% 10% 5%;
  height: 50px;
  align-content: center;
  border-bottom: 1px solid rgba(69, 162, 157, 0.322);
}
.itemSlot p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.itemSlot:hover{
  background-color: hsla(0,0%,18%,0.250);
}
/* Menu options container "Add/remove/Modify */
.noteMenu {
  display: inline;
  left: 50%;
  transform: translate(-50%);
}
/* Buttons for "Add / Remove / Modify */
.noteMenuButton {
  cursor: pointer;
  margin: 10px;
  height: 4vh;
  width: 10vw;
  background: none;
  outline: none;
  border: 1px solid var(--menu-color2);
}
/* Button inside Note  {Sell/Delete}*/
.noteButton{
  background: none;
  outline: none;
  border: none;
  border: 1px solid var(--menu-color2);
  cursor: pointer;
  height: 23px;
  width: 25px;
  justify-items: center;
}
/* Specific color for delete button */
.deleteButton {
  border: 1px solid rgb(145, 4, 4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}
/* Adding item container */
.itemMenuBox {
  width: 20vw;
  height: 25vh;
  font-size: 16px;
}

/* Adding item input */
.itemMenuBox input {
  height: 45px;
  width: 100%;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--menu-color2);
  justify-items: center;
}
/* button for submiting input / adding item etc */
.menuButton {
  margin-top: 25px;
  width: 100%;
  height: 30px;
  background: none;
  border: 1px solid var(--menu-color);
}
/* Custom styling for active menu */
.active {
  background-color: var(--menu-color3);
}


/* MODAL OPTIONS */
.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(3, 14, 20, 0.938);
  width: 100%;
  height: 100%;
}
.modalContent{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  outline: none;
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.ReactModal__Overlay--after-open{
  opacity: 1;
}
.ReactModal__Overlay--before-close{
  opacity: 0;
}

@media only screen and (max-width: 800px) {

  .tableContainer {
    top: 45%;
    width: 100%;
  }
  .noteMenuButton {
    width: 30vw;
  }


}
