@import url('App.css');

.noteContrainer{
  width: 100vw;
  height: 100vh;
}

.tableContainer {
    position: absolute;
    width: 50vw;
    height: 70vh;
    left: 50%;
    top: 12%;
    transform: translate(-50%);
    color: var(--font-color);
    background-color: hsla(0, 2%, 37%, 0.199);
    border-radius: 5px;
    font-size: 0.9em;
  }

.tableNavi {
  display: grid;
  grid-template-columns: repeat(3,33%);
  position: relative;
}
.itemsInfo {
  display: grid;
  grid-template-columns: 25% 15% 15% 15% 5%;
  padding-bottom: 10px;
  opacity: 0.5;
  font-size: 12px;
  cursor: pointer;
}

.tableNavi span:hover {
  cursor: pointer;
}
.tableNaviElement {
  padding: 25px;
  border-bottom: 1px solid black;
  display: flex;
  height: 5vh;
  justify-content: center;
  align-items: center;
}
.naviButton {
  height: 50px;
  border: none;
  background: none;
  outline: none;
  color: var(--font-color);
  font-size: 0.9em;
}
.itemSlot {
  display: grid;
  grid-template-columns: 25% 15% 15% 15% 10% 10% 10%;
  height: 50px;
  align-content: center;
  cursor: pointer;
}
.itemSlot:hover{
  background-color: hsla(0,0%,18%,0.250);
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item button {
  background: none;
  outline: none;
  color: white;
  border: none;
  opacity: 0.7;
  cursor: pointer;
}

.noteContent {
  display: grid;
  padding-top:10px;

}