@import url('App.css');

.noteContrainer{
  width: 100vw;
  height: 100vh;
}
.tableContainer {
    position: absolute;
    width: 50vw;
    height: 60vh;
    left: 50%;
    top: 17%;
    transform: translate(-50%);
    border-radius: 2px;
    font-size: 0.9em;
    cursor: pointer;
  }
.noteTableNavi {
  display: grid;
  grid-template-columns: repeat(3,33%);
  border-bottom: 1px solid rgba(95, 79, 79, 0.445);
}
.noteContent {
  position: relative;
  overflow-y: auto;
  height: 100%;
}
.itemsInfo {
  display: grid;
  padding-top: 3px;
  grid-template-columns: 35% 15% 15% 15% 5% 10%;
  padding-bottom: 10px;
  opacity: 0.5;
  font-size: 12px;
}
.naviButton {
  height: 50px;
  border: none;
  background: none;
  outline: none;
  font-size: 0.9em;
  cursor: pointer;
}
.itemSlot {
  display: grid;
  grid-template-columns: 35% 15% 15% 15% 5% 10%;
  height: 50px;
  align-content: center;
}
.itemSlot:hover{
  background-color: hsla(0,0%,18%,0.250);
}
.sellButton {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  border: 1px solid var(--font-color);
  width: 50px;
}
.noteMenu {
  display: inline;
  position: absolute;
  /* width: 15vw; */
  height: 5vh;
  left: 50%;
  top: 85%;
  transform: translate(-50%);
  /* display: grid; */
  align-content: space-around;
  /* background-color: pink; */
}
.noteMenuButton {
  margin: 10px;
  height: 30px;
  width: 10vw;
  background: none;
  outline: none;
  border: 1px solid hsla(0, 70%, 42%, 0.527);
  cursor: pointer;

}
.sellButton{
  background: none;
  outline: none;
  border: none;
  border: 1px solid hsla(0, 70%, 42%, 0.527);
  cursor: pointer;
  height: 25px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #69686857;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(58, 58, 58, 0.329);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(41, 40, 40, 0.336);
}

.itemMenuBox {
  position: absolute;
  width: 10vw;
  height: 25vh;
  left: 0%;
  top: 50%;
  font-size: 14px;
  opacity: 0;
  animation: fadeMenu 0.3s forwards;
}

@keyframes fadeMenu {
  from {opacity: 0;}
  to {opacity:1;}
  }


.itemMenuBox input {
  height: 35px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid hsla(0, 70%, 42%, 0.527);
}


.menuButton {
  margin: 20px;
  width: 80px;
  height: 30px;
  background: none;
  /* outline: none; */
  border: 1px solid hsla(0, 70%, 42%, 0.527);
}
