// light

$background-color: rgb(232,232,232);
$background-second: rgb(250,250,250);
$menu-color: rgb(31,59,77); /* main color */
$menu-color2: rgb(105, 173, 15); /* details */
$menu-color4: rgb(190,190,190);
$font-color: rgb(31,59,77);


// dark


$background-color-dark: rgb(30, 36, 44);
$background-second-dark: rgb(45, 50, 58);
$menu-color-dark: #17b466;
$menu-color2-dark: rgb(43, 51, 32); /* details */
$menu-color4-dark: rgba(83, 83, 83, 0.952); /*bordes */
$font-color-dark: rgba(255,255,255,0.85);

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@mixin placeholder {
    $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
    @each $placeholder in $placeholders {
      &:#{$placeholder}-placeholder {
        @content;
      }
    }
  }

@mixin center {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
  }

  @mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}