// v3
$background-color:rgb(30, 37, 41);
$background-second: rgb(18, 23, 26);
$menu-color: rgb(86, 141, 14); /* main color */
$menu-color2: rgb(105, 173, 15); /* details */
$menu-color4: rgba(83, 83, 83, 0.952); /*bordes */
$font-color: #C5C6C7;
$font-gray: rgba(255,255,255,0.522);


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600;700&display=swap');


@mixin placeholder {
    $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
    @each $placeholder in $placeholders {
      &:#{$placeholder}-placeholder {
        @content;
      }
    }
  }

@mixin center {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
  }

  @mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}