@import "master";



#addAccForm {
  display: grid;
  height: 100%;
  position: relative;
  top: -3%;

  #itemName, #itemBrand, #itemSize, #itemPrice, #itemEstimatedPrice, #itemCond, #itemCreatedAt {
    grid-column: 1/4;
  }
  #itemCreatedAt {
    grid-row: 7;
    padding-left: 7%;
  }

}


// RWD
// big laptop

@media only screen and (max-width: 1440px) {
  #addAccForm {

    input {
      height: 5.4vh;
    }
    button {
      height: 5.2vh;
    }
  }
}
