@import "master";
@import "addItem.css";


#addClothes {
  display: grid;
  height: 100%;
  position: relative;
  top: -3%;

  #itemName, #itemBrand, #itemSize, #itemPrice, #itemEstimatedPrice, #itemCond, #itemCreatedAt {
    grid-column: 1/4;
  }
  #itemCreatedAt {
    grid-row: 8;
    padding-left: 7%;
}

  #itemLength {
    position: relative;
    width: 32%;
    left: 30%;
    grid-column: 2/2;
    grid-row: 4;
  }
  #itemWidth {
    width: 32%;
    left: 70%;
    position: relative;
    grid-column: 2/2;
    grid-row: 4;
  }
}


// RWD
// big laptop

@media only screen and (max-width: 1440px) {
  #addClothes {

    input {
      height: 5.4vh;
    }
    button {
      height: 5.2vh;
    }
    #itemLength {
      left: 33%;
    }
    #itemWidth {
      left: 68%;
    }
  }
}