@import "master";

.addItemContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 650px;
    height: 450px;
    background-color: rgba(17, 17, 17, 0.541);
    border: 1px solid $menu-color4;
    border-top: 10px solid $menu-color2;
    display: grid;
    grid-template-rows: 20% 60%;
    box-shadow:inset -1px 0 1px 1px rgb(29, 44, 15);

  }
.addItemForm {
    display: grid;
    grid-gap: 3%;
    input {
        padding: 1%;
        height: 42px;
        width: 50%;
        font-size: 12px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        background: none;
        outline: none;
        border: none;
        background-color: rgba(75, 62, 62, 0.26);
        box-shadow:inset 0 0 2px 1px rgb(51, 53, 49);
        border-radius: 2%;
        ::placeholder {
            padding: 45%;
            transition: all 0.3s ease;
            &:focus {
                padding: 1%;
            }
        }
    }
}

.addButton {
    cursor: pointer;
    margin: 1% 25% 0% 25%;
    height: 35px;
    width: 50%;
    background: none;
    outline: none;
    border: 1px solid $menu-color;
    &:active {
      background-color: rgba(46, 42, 42, 0.322);
    }
}

.itemType {
    display: grid;
    grid-template-columns: repeat(3,33%);
  }
  .itemIcon {
    width: 35px;
    height: 35px;
  }
  #clothesIcon {
    position:relative;
    top: 10%;
  }
  #shoeIcon {
    position: relative;
    width: 40px;
    height: 40px;
  }
  #hatIcon {
      position:relative;
      top: 10%;
  }

  /* Hiding default radio buttons */
.addRadio:checked,
.addRadio:not(:checked) {display: none;}

/* Custom radio buttons */
.addRadio:checked+label,
.addRadio:not(:checked)+label {
  margin: 5px;
  display: block;
  text-align: center;
  position: relative;
  cursor: pointer;
  height: 60%;
  :after {
    content: '';
    width: 100%;
    height: 100%;
    border-bottom: 1px solid $menu-color2;
    opacity: 0.6;
    position: absolute;
    left: 0px;
    top: 0px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
}
.addRadio:not(:checked)+label:after {
  opacity: 0;
  /* -webkit-transform: scale(0);
  transform: scale(0); */
}
.addRadio:checked+label:after {
  opacity: 1;
  /* -webkit-transform: scale(1);
  transform: scale(1); */
}
