@import "master";
@import "addItem.css";


.addItemForm {
  display: grid;
  height: 100%;
  position: relative;
  top: -3%;

  #itemName, #itemBrand, #itemSize, #itemPrice, #itemEstimatedPrice, #itemCond, #itemCreatedAt {
    grid-column: 1/4;
  }
  #itemCreatedAt {
    grid-row: 10;
    padding-left: 7%;
}

  #itemLength {
    position: relative;
    width: 32%;
    left: -3%;
    grid-column: 2/2;
    grid-row: 6;
  }
  #itemWidth {
    width: 32%;
    left: 53%;
    position: relative;
    grid-column: 2/2;
    grid-row: 6;
  }
  #itemInsert {
    grid-row: 6;
    grid-column: 1/4;
  }
  .sectionSpan {
    position: relative;
    margin-bottom: 1%;
  }
  #requiredInfo {
    left: 17%;
  }
  #detailsInfo {
    left: 30%;
  }

  // fields span
  .fieldSpan {
    position: absolute;
    opacity: 0.7;
    font-size: 0.8rem;
    left: 17%;
    top: 8%;
  }
  #nameSpan {
    grid-row: 1;
  }
  #sizeSpan {
    grid-row: 2;
    top: 12%;
  }
  #priceSpan {
    grid-row: 3;
    top: 13%;
  }
  #lengthSpan {
    grid-row: 6;
    top: 3%;
  }
  #widthSpan {
    grid-row: 6;
    grid-column: 3;
    top: 3%;
  }
  #insertSpan {
    grid-row: 6;
    top: 3%;
  }
  #brandSpan {
    grid-row: 7;
    top: 4%;
  }
  #estimatedSpan {
    grid-row: 8;
    top: 5%;
  }
  #condSpan {
    grid-row: 9;
    top: 5%;
  }
  #createdAtSpan {
    grid-row: 10;
  }

}





// RWD
// big laptop

@media only screen and (max-width: 1440px) {
  #addClothes {

    input {
      height: 5.4vh;
    }
    button {
      height: 5.2vh;
    }
    #itemLength {
      left: 33%;
    }
    #itemWidth {
      left: 68%;
    }
  }
}