@import "master";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: $font-color;
}
body {
  overflow-x: hidden;
  overflow-y: hidden;

}

.App {
  text-align: center;
  background-color: $background-color;
  height: 100vh;
  width: 100vw;
  font-size: 17px;
  display: grid;
  grid-template-columns: 7% 93%;
}


.link {
  text-decoration: none;
}

.navigationContainer {
  width: 10vw;
  position: relative;
  font-size: 0.9rem;
  border-right: 2px solid $menu-color4;
  background-color: $background-second;

  #todayProfit {
    position: absolute;
    visibility: hidden;
    top: 15%;
    left: 20%;
    p {
      &:last-of-type {
        margin-top: 5%;
        font-size: 1.0rem;
        color: $menu-color;
      }
    }
  }

  #navis {
    position: relative;
    top: 30%;
    cursor: pointer;
    .naviElement {
      span {
        position: relative;
        top: 35%;
        font-weight: 400;
        color: $font-color;
        cursor: pointer;
        @include transition(all 0.2s ease);
      }
      .navElementContainer {
        cursor: pointer;
        width: 9.9vw;
        height: 7vh;
        border: none;
        background-color: none;
      }
    }
    .navActive {
      .navElementContainer {
        border: none;
        border-right: 5px solid $menu-color;
        background-color: $background-color;
        @include transition(background-color 0.5s ease);
      }
      span {
        font-size: 1.0rem;
        color: rgb(26,54,72);
      }
    }
    .navIcon {
      position: absolute;
      height: 2.6vh;
      width: 1.3vw;
      margin: 11% 0% 0% -20%;
      fill: $font-color;
    }
    #userIcon {
      height: 2.8vh;
      width: 1.5vw;
    }
    #logoutIcon {
      width: 2.5vh;
      height: 1.3vw;
    }
  }
}


// dark theme
.dark {
  * {
    color: $font-color-dark;
  }
  background-color: $background-color-dark;
  .navigationContainer {
    border-right: none;
    background-color: $background-second-dark;
    #todayProfit {
      p {
        &:last-of-type {
          color: $menu-color-dark;
        }
      }
    }
    #navis {
      .naviElement {
        span {
          color: $font-color-dark;
        }
      }
      .navElementContainer {
        background-color: $background-second-dark;
      }
      .navActive {
        .navElementContainer {
          background-color: $background-color-dark;
          border-right: 5px solid $menu-color-dark;
        }
        span {
          color: $menu-color-dark;
        }
        .navIcon {
          fill: $menu-color-dark;
        }
      }
      .navIcon {
        fill: $font-color-dark;
      }
    }
  }
}



  // RWD

  // Phone - Large
@media only screen and (max-width: 450px) {
  * {
      font-size: 0.9em;
  }

  .navigationContainer {
      display: none;
  }
}
  // Ipad
@media only screen and (max-width: 800px) {
  * {
      font-size: 0.9em;
  }

  .navigationContainer {
    font-size: 8px;
    .navIcon {
      width: 20px;
      height: 20px;
    }
  }

}

// Laptops
@media only screen and(max-width: 1100px) {
  * {
    font-size: 1.0em;
}
  .tableContainer {
    font-size: 14px;
    width: 76vw;
  }
}


//big laptops

@media only screen and(max-width: 1440px){
  * {
    font-size: 12px;
}
}