@import "master";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Assistant, sans-serif;
  color: $font-color;
}

.App {
  text-align: center;
  background-color: $background-color;
  height: 100vh;
  width: 100vw;
  font-size: 17px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 7% 93%;
}

.link {
  text-decoration: none;
}

.navigationContainer {
  font-family: Assistant, sans-serif;
  font-size: 0.8em;
  background-color: $background-second;
  .naviElement {
    color: rgb(81, 88, 92);
    font-weight: bold;
    &:hover {
      cursor: pointer;
    }
  }
  p {
    position: relative;
    top:30%;
    left: 50%;
    transform:translate(-50%);
    margin-top: 30%;
  }
  .navActive {
      font-weight: bold;
      color: $menu-color;
    }
  .navIcon {
    height: 30px;
    width: 30px;
    margin-bottom: 7px;
  }
  #logoutNav {
    position: relative;
    top: 35%;
  }
  #logoutIcon {
    width: 20px;
    height: 20px;
  }
}


.loginBox {
  width: 12vw;
  height: 25vh;
  font-size: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
//   Adding item input? -- to check
  input {
    height: 42px;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid $menu-color2;
    font-size: 16px;
    letter-spacing: 1px;
  }
}

.userInfo {
  padding: 15px;
  border: 1px dashed $menu-color2;
  position: absolute;
  left: 85%;
  top: 5%;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  Link {
    cursor: pointer;
  }
}

@media only screen and (max-width: 800px) {
  .navigation {
      top: 3%;
  }
  .userInfo {
      position: relative;
      left: 50%;
      width: 50%;
      height: 9%;
      transform: translate(-50%);
  }
  }
  @media only screen and (max-width: 1300px) {
  * {
  font-size: 13px;
  }
  }