@import "master";

.itemInfoContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 35vw;
    background-color: $background-second;
    border: 1px solid $background-color;
    border-radius: 3%;
    display: grid;
    grid-template-rows: 5% 90%;
}

.dark {
  .itemInfoContainer {
    background-color: $background-second-dark;
    border: none;
  }
}

    // RWD

  // Phone large
  @media only screen and (max-width: 480px) {

    .itemInfoContainer {
      width: 100vw;
    }
  }


  // Ipad
  @media only screen and (max-width: 800px) {


  }


// Laptops
@media only screen and(max-width: 1100px) {

}

// big Laptops
@media only screen and(max-width: 1440px){


}

