@import "master";

.itemInfoContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 25vw;
    height: 40vh;
    background-color: $background-second;
    border: 1px solid $menu-color4;
    display: grid;
    grid-template-rows: 5% 90%;
    box-shadow:inset -1px 0 2px 1px rgb(31, 46, 17);
  }
  .itemMenu {
    position: relative;
    display: flex;
    height: 4vh;
    justify-content: center;
    padding-top: 2%;
    font-size: 0.9em;
    border-bottom: 1px solid $menu-color4;
    // border: 1px solid pink;
  }

    /* Hiding default radio buttons */
    .detailsRadio:checked,
    .detailsRadio:not(:checked) {display: none;}

    /* Custom radio buttons */
    .detailsRadio:checked+label,
    .detailsRadio:not(:checked)+label {
      display: block;
      position: relative;
      cursor: pointer;
      margin: 0% 5% 0% 5%;
      height: 33.3%;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
    }
    .detailsRadio:checked+label {
      color: $menu-color2;
    }
    .detailsRadio:not(:checked)+label {

    }

    // RWD

  // Phone large
  @media only screen and (max-width: 450px) {

  }


  // Ipad
  @media only screen and (max-width: 800px) {


  }


// Laptops
@media only screen and(max-width: 1100px) {

}

// big Laptops
@media only screen and(max-width: 1440px){


}

