@import "_master";

.loginBox {
    width: 12vw;
    height: 25vh;
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    input {
      margin-top: 1%;
      padding-left: 3%;
      height: 42px;
      width: 100%;
      background: none;
      border: none;
      outline: none;
      border-bottom: 1px solid $menu-color;
      font-size: 16px;
      letter-spacing: 1px;
      }
      button {
        border: 1px solid $menu-color;
      }
  }


.registerBox {
    position: absolute;
    top: 40%;
    left: 15%;
    height: 300px;
    width: 300px;
    input {
      height: 42px;
      width: 100%;
      background: none;
      outline: none;
      border-bottom: 1px solid $menu-color;
      font-size: 16px;
      letter-spacing: 1px;
      }
}

.dark {
  .loginBox {
    input {
      border-bottom: 1px solid $menu-color-dark;
    }
    button {
      border: 1px solid $menu-color-dark;
    }
  }
}

  // Phone - Large
  @media only screen and (max-width: 480px) {

    .loginBox {
      position: absolute;
      top: 60%;
      width: 35vw;
      input {
        // border: 1px solid $menu-color2;
      }

    }
  }


