@import "master";

// Container
.modify {
    position: relative;
  }

span {
    cursor: default;
}

.modifyForm {
    position: relative;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
    height: 85%;
    width: 85%;
    display: grid;
    background-color: $background-color;

    input {
        text-align: center;
        height: 3.5vh;
        width: 100%;
        font-size: 12px;
        position: relative;
        left: 15%;
        background: none;
        outline: none;
        border: none;
        background-color: rgba(90, 94, 92, 0.212);
        border-radius: 5px;
    }

    select {
        height: 3.5vh;
        width: 50%;
        background-color: rgba(90, 94, 92, 0.212);
        outline: none;
        border: none;
        position: relative;
        left: 15%;
        option {
            background-color: rgb(55, 59, 57);
        }
    }
    span {
        font-size: 11px;
        position: absolute;
        opacity: 0.8;
        color: rgba(177, 172, 172, 0.664);
        }

    #itemName {
        grid-row: 1;
        grid-column: 2/3;
    }
    #itemBrand {
        grid-row: 2;
        grid-column: 2/3;
    }
    #itemSize {
        grid-row: 3;
        grid-column: 2/3;
    }
    #itemLength {
        width: 50%;
        grid-row: 4;
        grid-column: 2;
    }
    #itemWidth {
        grid-row: 4;
        position: relative;
        left: -35%;
        width: 50%;
        grid-column: 3;
    }
    #itemInsert {
        grid-row: 4;
        grid-column: 2/3;
    }
    #itemCond {
        grid-row: 5;
        position: relative;
        width: 100%;
        grid-column: 2/3;
    }
    #itemBuyPrice {
        width: 50%;
        grid-row: 6;
        grid-column: 2;
    }
    #itemEstimatedPrice {
        width: 50%;
        position: relative;
        left: -35%;
        grid-row: 6;
        grid-column: 3;
    }
    #itemSellPrice {
        grid-row: 5;
        grid-column: 2;
    }



    .addButton {
        @include center();
        cursor: pointer;
        margin-top: 1%;
        height: 3.5vh;
        width: 12vw;
        background: none;
        border: 1px solid $menu-color;
    }
}
#unSold {
    width: 15vw;
    height: 3.5vh;
    border: 1px solid $menu-color4;
    @include center();
    cursor: pointer;
    margin-top: 3%;
    background: none;
}

#dates {
    @include center();
    margin-top: 5%;
    height: 5vh;
    width: 12vw;
    text-align: center;
    span {
        opacity: 0.4;
        font-size: 0.8em;
    }
}


// dark

.dark {
    .modifyForm {
        background-color: $background-second-dark;
        input {
            background-color: $background-color-dark;
            box-shadow: inset 0 0 1px gray;
        }
        .addButton {
            border: 1px solid $menu-color-dark;
        }
    }
}


// end dark

  // RWD

  // Phone - Large
  @media only screen and (max-width: 480px) {

  }

  // Ipad
  @media only screen and (max-width: 800px) {
  }

// Laptops
@media only screen and(max-width: 1100px) {

}


//big laptop
@media only screen and(max-width: 1440px){

}