@import "master";

// width
::-webkit-scrollbar {
    width: 0.5vw;
    border-radius: 50px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: $background-color;
    border-radius: 50px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(180, 179, 179);
    border-radius: 50px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(150,150,150);
    cursor: pointer;
  }

  .tableContainer {
    background-color: $background-second;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    position: absolute;
    width: 70vw;
    height: 70vh;
    left: 52%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.0rem;
    border-radius: 5px;
    padding: 1%;
    #noItems {
      position: relative;
      top: 30%;
      font-size: 0.9em;
      opacity: 0.8;
    }
    .noteContent {
      position: relative;
      overflow-y: auto;
      height: 87%;
    }
    .itemsInfo {
      // background-color: $background-second;
      position: relative;
      display: grid;
      padding-top: 2px;
      margin-bottom: 2%;
      padding: 1.5% 0% 1% 0%;
      font-size: 1.0rem;
      span {
        color: rgb(50,50,50);
        cursor: pointer;
      }
      &:after {
        content: '';
        position: absolute;
        top: 120%;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        height: 1px;
        border-radius: 5%;
        background-color: $menu-color4;
      }
    }
    .itemSlot {
      position: relative;
      cursor: pointer;
      display: grid;
      width: 100%;
      height: 5vh;
      font-size: 0.9rem;
      border-bottom: 1px solid rgb(200,200,200);
      &:hover {
        background-color: rgb(232,232,232);
      }
      p {
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      #itemNameCurrent, #itemNameSold {
        justify-content: left;
        padding-left: 2%;
        font-weight: 500;
      }
      button {
        display: flex;
        justify-content: left;
        padding-top: 20%;
      }
    .actionButton {
      border: none;
      background: none;
      outline: none;
      cursor: pointer;
      width: 1.7vw;
      height: 2.6vh;
      margin-top: 12%;
    }
    }
  }


  .noteTableNavi {
  display: flex;
  width: 100vw;
  height: 15vh;
  #search {
    display: none;
    position: relative;
    left: 49%;
    top: 34%;
    width: 10vw;
    height: 5vh;
    background: url('http://hypehub.pl/img/note/lupa.svg');
    background-size: 90%;
    background-repeat: no-repeat;
    #searchInput {
      position: relative;
      top: -10%;
      height: 5vh;
      outline: none;
      border: none;
      background: none;
      padding-left: 5%;
    }
  }
  .naviButton {
    position: relative;
    left: 10%;
    top: 35%;
    width:7vw;
    height: 4.5vh;
    border: none;
    outline: none;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
  }
    .active {
      font-size: 1.2rem;
      color: $menu-color;
      opacity: 1.0;
      padding-bottom: 0.5%;
      border-radius: 1%;
      border-bottom: 3px solid $menu-color;
      @include transition(all 0.3s ease)
    }
  }


  .currentColumns {
  grid-template-columns: 25% 15% 10% 10% 10% 12% 6% 6% 6%;
}
  .soldColumns {
  grid-template-columns: 25% 12% 10% 7% 7% 7% 12% 15% 6%;
  }

// login e.g
.menuButton {
  cursor: pointer;
  margin-top: 25px;
  width: 100%;
  height: 30px;
  background: none;
  border: 1px solid $menu-color2;
}

/* Menu options container [additem]*/
.noteMenu {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%);
  #addButton {
    height: 4vh;
    width: 10vw;
    outline: none;
    border: none;
    background-color: $menu-color;
    color: white;
    border-radius: 50px;
    font-size: 1.8rem;
    cursor: pointer;
  }
}


  /* MODAL OPTIONS */
  .modalOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(18, 23, 26, 0.87);
    width: 100%;
    height: 100%;
  }
  .modalContent{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    outline: none;
  }
  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
  }
  .ReactModal__Overlay--after-open{
    opacity: 1;
  }
  .ReactModal__Overlay--before-close{
    opacity: 0;
  }


// DARK MODE
    .dark {
      .tableContainer {
        background-color: $background-second-dark;
        .itemsInfo {
          span {
            color: rgba(255,255,255,0.7);
          }
          &:after {
            background-color: $background-color-dark;
          }
        }
        .itemSlot {
          border-bottom: 1px solid rgb(40,40,40);
          &:hover {
            background-color: rgb(35,35,35);
          }
        }
      }

      .noteTableNavi {
        .active {
          color: $font-color-dark;
          border-bottom: 3px solid $menu-color-dark;
        }
      }

      /* Track */
      ::-webkit-scrollbar-track {
        background: $background-color-dark;
        border-radius: 50px;
      }
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: rgb(100,100,100);
        border-radius: 50px;
      }
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: rgb(130,130,130);
        cursor: pointer;
      }
      .noteMenu {
        #addButton {
          height: 4vh;
          width: 10vw;
          outline: none;
          border: none;
          background-color: $menu-color-dark;
        }
      }
    }
// END DARK MODe

  // RWD

  // Phone - Large
@media only screen and (max-width: 480px) {

    .tableContainer {
      top: 55%;
      width: 30%;
      margin-top: 5%;
    }

    .noteIcon {
      width: 6vw;
      height: 2.5vh;
    }

    #addButton {
      width: 60vw;
    }

    .itemSlot {
      height: 16vh;
    }
    .itemsInfo {
      display: none;
    }

    .currentColumns {
      grid-template-columns: repeat(5, 20%);

      #itemNameCurrent {
        font-weight: bold;
        padding-top: 3%;
        grid-column: 1/6;
        grid-row: 1;
      }
      #itemSizeCurrent {
        grid-column: 2;
        grid-row: 2;
      }
      #itemCondCurrent {
        grid-column: 3;
        grid-row: 2;
      }
      #itemBuyPriceCurrent {
        grid-column: 4;
        grid-row: 2;
      }
      .itemSellCurrent {
        grid-row: 4;
        grid-column: 2;
      }
      .itemInfoCurrent {
        grid-row: 4;
        grid-column: 3;
      }
      .itemDeleteCurrent {
        grid-row: 4;
        grid-column: 4;
      }
      .actionButton {
        margin-top: -25%;
        margin-left: 30%;
    }
  }
    .soldColumns {
      grid-template-columns: repeat(5, 20%);

      #itemName {
        padding-top: 3%;
        font-weight: bold;
        grid-row: 1;
        grid-column: 1/6;
      }
      #itemSize {
        grid-row: 2;
        grid-column: 2;
      }
      #itemCond {
        grid-row: 2;
        grid-column: 3;
      }
      #buyPrice {
        grid-row: 2;
        grid-column: 4;
      }
      #earnings {
        grid-row: 3;
        grid-column: 2/5;
        color: green;
        &:before {
          color: $font-color;
          content: 'Profit -';
          margin-right: 3%;
        }
      }
      #itemTracking {
        grid-row: 4;
        grid-column: 2/5;
      }
      #itemSoldFor {
        grid-row: 5;
        grid-column: 2/5;
      }
      #itemDelete {
        grid-row: 6;
        width: 6vw;
        height: 2.5vh;
        grid-column: 3;
        margin-top: 3%;
        margin-left: 25%;
      }

    }

// Navi (Current/Sold/Pending)
  .noteTableNavi {
    position: relative;
    top: -2%;
    height: 12vh;
    #searchInput {
      display: none;
    }
    span {
      display: none;
    }
    .naviButton {
      height: 4vh;
      width: 20vw;
      margin: 0% 5% 0% 5%;
      top: 90%;
    }
      .active {
        border-bottom: 0.5vh solid $menu-color2;
      }
  }

}

  // Ipad
  @media only screen and (max-width: 800px) {
}

// Laptops
@media only screen and(max-width: 1100px) {

}

// big laptop
@media only screen and(max-width: 1440px){
  .tableContainer {
    .itemSlot {
      height: 6vh;
    }
  }

}