@import "master";

.photoContainer {
    position: relative;
    left: -5%;
    height: 100%;
    display: grid;
    grid-template-rows: 30% 90%;
    .header {
        height: 100%;
        width: 100%;
    }
    input {
        display: none;
    }
    .photosBox {
        position: relative;
        left: -9%;
        height: 100%;
        width: 100%;
        display: flex;
        .photo {
            margin: 5px;
            width: 100%;
            height: 100%;
            img {
                border: 2px solid $menu-color4;
                padding: 2px;
                width: 170px;
                height: 190px;
                cursor: pointer;
            }
        }
    }
}

// RWD


// Laptops
@media only screen and(max-width: 900px){

    .photosBox {

        .photo {
        width: 50%;
        height: 50%;
        }
        img {
            width: 120px;
            height: 150px;
        }
    }
}