/* APP .CSS */
@media only screen and (max-width: 800px) {
    .navigation {
        top: 3%;
    }
    .userInfo {
        position: relative;
        left: 50%;
        width: 50%;
        height: 9%;
        transform: translate(-50%);
    }
    }
    @media only screen and (max-width: 1300px) {
    * {
    font-size: 13px;
    }
    }

    @media only screen and (max-width: 1024px) and (max-width: 1366) {
        .tableContainer {
            position: absolute;
            width: 100%;
            top: 50%;
        }
    }

