
// Ipad
@media only screen and (max-width: 768px) {
    * {
        font-size: 0.9em;
    }

    // app -> main navi on left
    .navigationContainer {
        display: none;
    }
    // note.scss
    .tableContainer {
         width: 100vw;
    }
    // Nawigacja w Note
    .noteTableNavi {
        .link {
            left: 35%;
            margin: 10px;
            font-size: 0.7em;
        }
        input {
            display: none;
        }
        span {
            display: none;
        }
    }
}
// Phone - Large
@media only screen and (max-width: 759px) {
    * {
        font-size: 0.9em;
    }

    // app -> main navi on left
    .navigationContainer {
        display: none;
    }
    // note.scss
    .tableContainer {
        width: 100vw;
   }

   // Nawigacja w Note
   .noteTableNavi {
       .link {
           margin: 15px;
           font-size: 0.6em;
           top: 5%;
           left: 25%;
       }
       input {
           display: none;
       }
       span {
           display: none;
       }
   } //noteTable navi

//    Current

   .currentContainer {
       .noteIcon {
           width: 12px;
           height: 12px;
       }
   }

}