
// Ipad
@media only screen and (max-width: 768px) {
    // app -> main navi on left
    .navigationContainer {
        display: none;
    }
    * {
        font-size: 0.9em;
    }

    // note.scss
    .tableContainer {
         width: 100vw;
    }
    // Nawigacja w Note
    .noteTableNavi {
        .link {
            left: 35%;
            margin: 10px;
            font-size: 0.7em;
        }
        input {
            display: none;
        }
        span {
            display: none;
        }
    }
}
// Phone - Large
@media only screen and (max-width: 759px) {

    // app -> main navi on left
    .navigationContainer {
        display: none;
    }
    * {
        font-size: 0.9em;
    }
    // note.scss
    .tableContainer {
        width: 100vw;
   }
   // Nawigacja w Note
   .noteTableNavi {
       .link {
           left: 25%;
           margin: 15px;
           font-size: 0.6em;
       }
       input {
           display: none;
       }
       span {
           display: none;
       }
   }

}