@import "master";

#statsContainer {
    position: relative;
    width: 90vw;
    height: 100vh;
    left: 3%;

    .statsSVG {
        position: absolute;
        width: 5.5vw;
        height: 5.5vh;
        left: -5%;
        top: 25%;
        fill: $font-color;
    }

    #details {
        position: relative;
        top: 4%;
        left: 15%;
        width: 68vw;
        display: grid;
        grid-template-columns: repeat(3, 33%);
        margin-top: 4%;
        .statsBox {
            background-color: $background-second;
            border-radius: 2%;
            width: 14vw;
            height: 15vh;
            p {
                color: $font-color;
            }
        }
        #totalProfit {
            position: relative;
            p {
                position: relative;
                &:first-of-type {
                    font-size: 1.7rem;
                    top: 30%;
                    left: 5%;
                }
                &:last-of-type {
                    font-size: 0.9rem;
                    top: 40%;
                    left: 4%;
                    color: $menu-color4-dark;
                }

            }
        }

        #currentItems {
            position: relative;
            p {
                position: relative;
                top: 30%;
                font-size: 1.4rem;
                &:first-of-type {
                    position: relative;
                    top: 20%;
                    left: 5%;
                    font-size: 0.9rem;
                }
                &:last-of-type {
                    border-top: 1px solid $menu-color;
                    padding-top: 4%;
                    position: relative;
                    top: 44%;
                    font-size: 0.9rem;
                }
            }
            .detailsIcon {
                position: absolute;
                left: -25%;
                top: -5%;
                width: 10vh;
            }
        }

        #soldItems {
            position: relative;
            p {
                &:first-of-type {
                    position: relative;
                    top: 25%;
                    left: 5%;
                    font-size: 0.9rem;
                }
                &:last-of-type {
                    position: relative;
                    top: 40%;
                    font-size: 1.5rem;
                }
            }
            .detailsIcon {
                position: absolute;
                left: -25%;
                top:  0%;
                width: 10vh;
            }
        }
    }

    #moneyStats {
        .statsChart {
            position: relative;
            height: 36.5vh;
            width: 35vw;
            border-radius: 1%;
        }
        position: relative;
        top: 15%;
        display: grid;
        height: 60vh;
        #platform {
            position: relative;
            grid-row: 1;
            left: 10%;
        }
        #week {
            position: relative;
            grid-row: 1;
            grid-column: 2;
        }
    }
}

    .dark {
        #statsContainer {
            .statsSVG {
                fill: $menu-color-dark;
            }
            #details {
                #totalProfit {
                    background-color: $background-second-dark;
                    p {
                        color: $font-color-dark;
                        &:last-of-type {
                            color: $menu-color4-dark;
                        }
                    }
                }
                #currentItems {
                    background-color: $background-second-dark;
                    #currentSVG {
                        fill: rgb(85, 84, 175);
                    }
                    p {
                        color: $font-color-dark;
                        &:last-of-type {
                            border: none;
                            color: $menu-color4-dark;
                            top: 30%;
                            left: 5%;
                        }
                    }
                }
                #soldItems {
                    #soldSVG {
                        fill: rgb(125, 128, 115);
                    }
                    background-color: $background-second-dark;
                    p {
                        color: $font-color-dark;
                    }
                }
            }

            #moneyStats {
                #platform {
                    background-color: $background-second-dark;
                }
                #week {
                    background-color: $background-second-dark;
                }
            }
        }
    }