@import "master";

#statsContainer {
    position: relative;
    width: 90vw;
    height: 100vh;
    left: 3%;

    #details {
        position: absolute;
        top: 7%;
        left: 85%;
        width: 15vw;
        height: 80vh;
        display: grid;
        grid-template-rows: repeat(3, 33%);
        margin-top: 4%;


        #totalProfit {
            background-color: $background-second;
            box-shadow: 0px 0px 2px 0px $menu-color4;
            position: relative;
            border-radius: 5%;
            width: 12vw;
            height: 15vh;
            p {
                &:first-of-type {
                    position: relative;
                    top: 20%;
                    left: 25%;
                    width: 60%;
                    font-size: 1.3rem;
                    color: rgba(255,255,255, 0.8);
                    padding-bottom: 5%;
                    border-bottom: 1px solid rgba(255,255,255,0.8);
                }
                &:last-of-type {
                    position: relative;
                    top: 30%;
                    width: 60%;
                    left: 25%;
                    font-size: 1.3rem;
                }
            }
            .detailsIcon {
                position: absolute;
                left: -15%;
                top:  23%;
                width: 8vh;
            }

        }

        #currentItems {
            background-color: $background-second;
            box-shadow: 0px 0px 2px 0px $menu-color4;
            position: relative;
            border-radius: 5%;
            width: 12vw;
            height: 15vh;
            p {
                position: relative;
                top: 35%;
                font-size: 1.4rem;
                &:first-of-type {
                    position: relative;
                    top: 25%;
                    left: 16%;
                    font-size: 0.8rem;
                    color: rgba(255,255,255, 0.8);
                }
                &:last-of-type {
                    border-top: 1px solid rgba(255,255,255,0.1);
                    padding-top: 4%;
                    position: relative;
                    top: 47%;
                    font-size: 0.9rem;
                    color: rgba(255,255,255, 0.8);
                }
            }
            .detailsIcon {
                position: absolute;
                left: -25%;
                top: -5%;
                width: 10vh;
            }
        }

        #soldItems {
            background-color: $background-second;
            box-shadow: 0px 0px 2px 0px $menu-color4;
            position: relative;
            border-radius: 5%;
            width: 12vw;
            height: 15vh;
            p {
                &:first-of-type {
                    position: relative;
                    top: 25%;
                    left: 16%;
                    font-size: 0.8rem;
                    color: rgba(255,255,255, 0.8);
                }
                &:last-of-type {
                    position: relative;
                    top: 40%;
                    font-size: 1.5rem;
                }
            }
            .detailsIcon {
                position: absolute;
                left: -25%;
                top:  0%;
                width: 10vh;
            }
        }

    }



    #moneyStats {
        position: relative;
        left: -3%;
        top: 8.5%;
        display: grid;
        height: 60vh;
        #platform {
            grid-row: 1;
            grid-column: 1;
            @include center();
            width: 32vw;
        }
        #week {
            position: relative;
            left: -5%;
            width: 32vw;
            grid-row: 1;
            grid-column: 2;
        }
        #month {
            @include center();
            width: 32vw;
            margin-top: 14%;
            grid-row: 2;
            grid-column: 1;
        }
        #year {
            position: relative;
            margin-top: 14%;
            left: -5%;
            width: 32vw;
            grid-row: 2;
            grid-column: 2;
        }
    }
}