/* main color */
/* details */
/* details */
/*bordes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
.addItemContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  height: 60vh;
  background-color: #e8e8e8;
  display: grid;
  grid-template-rows: 20% 80%;
  border-radius: 3%;
}

.itemType {
  display: grid;
  grid-template-columns: repeat(3, 33%);
}

.itemIcon {
  width: 2vw;
  height: 3.5vh;
}

#clothesIcon {
  position: relative;
  top: 10%;
}

#shoeIcon {
  position: relative;
  width: 2.5vw;
  height: 5vh;
}

#hatIcon {
  position: relative;
  top: 10%;
}

.addInput {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  padding: 1%;
  height: 4vh;
  width: 35%;
  color: #12171a;
  font-size: 12px;
  position: relative;
  outline: none;
  border: 1px solid #e8e8e8;
  background-color: #a0a0a0;
  border-radius: 3px;
  text-align: center;
  box-shadow: inset 0 0 1px gray;
}
.addInput::-webkit-input-placeholder {
  font-size: 0.8rem;
  color: #fafafa;
  opacity: 0.7;
}
.addInput::-moz-placeholder {
  font-size: 0.8rem;
  color: #fafafa;
  opacity: 0.7;
}
.addInput:-moz-placeholder {
  font-size: 0.8rem;
  color: #fafafa;
  opacity: 0.7;
}
.addInput:-ms-input-placeholder {
  font-size: 0.8rem;
  color: #fafafa;
  opacity: 0.7;
}

.addButton {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  cursor: pointer;
  margin-top: 1%;
  height: 4vh;
  width: 25%;
  outline: none;
  color: #e8e8e8;
  background-color: #1f3b4d;
  border: 1px solid #1f3b4d;
  border-radius: 7px;
  grid-row: 9;
  grid-column: 1/4;
}

/* Hiding default radio buttons */
.addRadio:checked,
.addRadio:not(:checked) {
  display: none;
}

/* Custom radio buttons */
.addRadio:checked + label,
.addRadio:not(:checked) + label {
  margin: 3% 0% 2% 0%;
  display: block;
  text-align: center;
  position: relative;
  cursor: pointer;
  height: 60%;
}
.addRadio:checked + label:after,
.addRadio:not(:checked) + label:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.addRadio:not(:checked) + label:after {
  border-bottom: 3px solid #bebebe;
}

.addRadio:checked + label:after {
  border-bottom: 3px solid #1f3b4d;
}

.dark .addItemContainer {
  background-color: #1a1a1a;
}
.dark .addRadio:not(:checked) + label:after {
  border-bottom: 3px solid rgba(150, 150, 150, 0.952);
}
.dark .addRadio:checked + label:after {
  border-bottom: 3px solid #17b466;
}
.dark .addInput {
  background-color: #1a1a1a;
  border: none;
  border-left: 3px solid #17b466;
}
.dark .addButton {
  background-color: #17b466;
  border: 1px solid #17b466;
}

@media only screen and (max-width: 480px) {
  .addItemContainer {
    position: absolute;
    width: 100vw;
  }
  .addItemContainer .itemIcon {
    width: 6vw;
  }
  .addItemContainer #shoeIcon {
    width: 8vw;
  }
}

/*# sourceMappingURL=addItem.css.map */
