/* main color */
/* details */
/*bordes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #1f3b4d;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.App {
  text-align: center;
  background-color: #fafafa;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 4 4'%3E%3Cpath fill='%23e8e8e8' fill-opacity='0.8' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  height: 100vh;
  width: 100vw;
  font-size: 17px;
  display: grid;
  grid-template-columns: 7% 93%;
}

.link {
  text-decoration: none;
}

.navigationContainer {
  width: 10vw;
  position: relative;
  font-size: 0.9rem;
  border-right: 2px solid #bebebe;
  background-color: #fafafa;
}
.navigationContainer #todayProfit {
  position: absolute;
  visibility: hidden;
  top: 15%;
  left: 20%;
}
.navigationContainer #todayProfit p:last-of-type {
  margin-top: 5%;
  font-size: 1rem;
  color: #1f3b4d;
}
.navigationContainer #navis {
  position: relative;
  top: 30%;
  cursor: pointer;
}
.navigationContainer #navis .naviElement span {
  position: relative;
  top: 35%;
  font-weight: 400;
  color: #1f3b4d;
  cursor: pointer;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.navigationContainer #navis .naviElement .navElementContainer {
  cursor: pointer;
  width: 10vw;
  height: 7vh;
  border: none;
  background-color: none;
}
.navigationContainer #navis .navActive .navElementContainer {
  border: none;
  border-right: 5px solid #1f3b4d;
  background-color: #e8e8e8;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.navigationContainer #navis .navActive span {
  font-size: 1rem;
  color: #1a3648;
}
.navigationContainer #navis .navIcon {
  position: absolute;
  height: 2.6vh;
  width: 1.3vw;
  margin: 11% 0% 0% -20%;
  fill: #1f3b4d;
}
.navigationContainer #navis #userIcon {
  height: 2.8vh;
  width: 1.5vw;
}
.navigationContainer #navis #logoutIcon {
  width: 2.5vh;
  height: 1.3vw;
}
.navigationContainer #toggleTheme {
  position: absolute;
  top: 85%;
  left: 6%;
}
.navigationContainer #toggleTheme button {
  color: #1f3b4d;
  border: 1px solid #1f3b4d;
  background: none;
  outline: none;
  width: 4vw;
  height: 4vh;
  border-radius: 50px;
  cursor: pointer;
}

.dark * {
  color: rgba(255, 255, 255, 0.85);
}
.dark .App {
  background-color: #262626;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 4 4'%3E%3Cpath fill='%231a1a1a' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
.dark .navigationContainer {
  border-right: none;
  background-color: #1a1a1a;
}
.dark .navigationContainer #todayProfit p:last-of-type {
  color: #17b466;
}
.dark .navigationContainer #navis .naviElement span {
  color: rgba(255, 255, 255, 0.85);
}
.dark .navigationContainer #navis .navElementContainer {
  background-color: #1a1a1a;
}
.dark .navigationContainer #navis .navActive .navElementContainer {
  background-color: #262626;
  border-right: 3px solid #17b466;
}
.dark .navigationContainer #navis .navActive span {
  color: #17b466;
}
.dark .navigationContainer #navis .navActive .navIcon {
  fill: #17b466;
}
.dark .navigationContainer #navis .navIcon {
  fill: rgba(255, 255, 255, 0.85);
}
.dark .navigationContainer #toggleTheme button {
  color: rgba(255, 255, 255, 0.85);
  border: 1px solid #17b466;
}

@media only screen and (max-width: 450px) {
  * {
    font-size: 0.9em;
  }

  .navigationContainer {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  * {
    font-size: 0.9em;
  }

  .navigationContainer {
    font-size: 8px;
  }
  .navigationContainer .navIcon {
    width: 20px;
    height: 20px;
  }
}
@media only screen and (max-width: 1100px) {
  * {
    font-size: 1em;
  }

  .tableContainer {
    font-size: 14px;
    width: 76vw;
  }
}
@media only screen and (max-width: 1440px) {
  * {
    font-size: 12px;
  }
}

/*# sourceMappingURL=App.css.map */
