/* main color */
/* details */
/*bordes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
.modify {
  position: relative;
  top: 120%;
}

span {
  cursor: default;
}

.modifyForm {
  display: grid;
}
.modifyForm input {
  padding: 1%;
  height: 3.5vh;
  width: 100%;
  font-size: 12px;
  position: relative;
  background: none;
  outline: none;
  border: 1px solid #e8e8e8;
  background-color: rgba(90, 94, 92, 0.212);
  border-radius: 2%;
}
.modifyForm span {
  font-size: 11px;
  position: absolute;
  opacity: 0.8;
  color: rgba(177, 172, 172, 0.664);
}
.modifyForm #itemName {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  border: none;
  margin: 3% 0% 1% 0%;
  font-size: 0.9em;
  text-align: center;
}
.modifyForm #itemBrand {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
}
.modifyForm #dimensions {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  margin-top: 1%;
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modifyForm #dimensions input {
  text-align: center;
  margin: 2px;
}
.modifyForm #dimensions #length {
  left: 40%;
  top: 36%;
}
.modifyForm #dimensions #width {
  left: 73%;
  top: 36%;
}
.modifyForm #dimensions #shoeInsert {
  left: 80%;
  top: 36%;
}
.modifyForm #prices {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  margin-top: 1%;
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modifyForm #prices input {
  margin: 2px;
  text-align: right;
  padding-right: 20px;
}
.modifyForm #prices #bPrice {
  top: 35%;
  left: 3%;
}
.modifyForm #prices #sPrice {
  left: 52%;
  top: 35%;
}
.modifyForm #prices #ePrice {
  left: 55%;
  top: 35%;
}
.modifyForm #shipInfo {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  margin-top: 1%;
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modifyForm #shipInfo input {
  text-align: right;
  width: 50%;
}
.modifyForm #shipInfo #tracking {
  top: 35%;
  left: 3%;
}
.modifyForm #shipInfo #shipcp {
  left: 77%;
  top: 35%;
}
.modifyForm #shipInfo select {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  left: 26%;
}
.modifyForm #soldOnDiv {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  width: 60%;
  text-align: center;
  margin-top: 1%;
}
.modifyForm #soldOnDiv span {
  position: absolute;
  left: 45%;
  top: 29%;
}
.modifyForm #cond {
  height: 35px;
  margin-top: 15px;
  position: relative;
  width: 30%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modifyForm #cond select {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
}
.modifyForm #cond #condSpan {
  position: absolute;
  left: 45%;
  top: 35%;
}
.modifyForm #cond #condSpan:hover {
  cursor: default;
}
.modifyForm select {
  height: 3.5vh;
  width: 50%;
  background-color: rgba(90, 94, 92, 0.212);
  outline: none;
  border: none;
  position: relative;
}
.modifyForm select option {
  background-color: #373b39;
}
.modifyForm .addButton {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  cursor: pointer;
  margin-top: 3%;
  height: 3.5vh;
  width: 12vw;
  background: none;
  border: 1px solid #1f3b4d;
}

#unSold {
  width: 15vw;
  height: 3.5vh;
  border: 1px solid #bebebe;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  cursor: pointer;
  margin-top: 3%;
  background: none;
}

#dates {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  margin-top: 4%;
  height: 5vh;
  width: 12vw;
  text-align: center;
}
#dates span {
  opacity: 0.4;
  font-size: 0.8em;
}

/*# sourceMappingURL=modifyItem.css.map */
