/* main color */
/* details */
/*bordes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
#modifyContainer {
  height: 45vh;
  width: 30vw;
  position: relative;
  border: 1px solid #505050;
  border-radius: 1%;
  background-color: #e6e6e6;
}
#modifyContainer span {
  cursor: default;
}
#modifyContainer .modifyForm {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  padding-top: 4%;
  height: 100%;
  width: 80%;
  display: grid;
}
#modifyContainer .modifyForm input {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  text-align: center;
  height: 3.5vh;
  width: 120%;
  font-size: 12px;
  position: relative;
  background: none;
  outline: none;
  border: none;
  background-color: rgba(90, 94, 92, 0.212);
  border-radius: 5px;
}
#modifyContainer .modifyForm select {
  height: 3.5vh;
  width: 50%;
  background-color: rgba(90, 94, 92, 0.212);
  outline: none;
  border: none;
  position: relative;
  left: 15%;
}
#modifyContainer .modifyForm select option {
  background-color: #373b39;
}
#modifyContainer .modifyForm .addButton {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  cursor: pointer;
  top: -40%;
  height: 3.5vh;
  width: 12vw;
  color: rgba(255, 255, 255, 0.85);
  background-color: #1f3b4d;
}
#modifyContainer .modifyForm .fieldSpan {
  position: absolute;
  top: 3%;
  left: 12%;
  font-size: 0.8rem;
  color: #969696;
}
#modifyContainer .modifyForm #itemName {
  grid-row: 1;
  grid-column: 2;
}
#modifyContainer .modifyForm #itemBrand {
  grid-row: 2;
  grid-column: 2;
}
#modifyContainer .modifyForm #itemSize {
  grid-row: 3;
  grid-column: 2/3;
}
#modifyContainer .modifyForm #itemLength {
  width: 60%;
  left: 120%;
  grid-row: 4;
  grid-column: 1;
}
#modifyContainer .modifyForm #itemWidth {
  grid-row: 4;
  width: 60%;
  left: -20%;
  grid-column: 3;
}
#modifyContainer .modifyForm #itemInsert {
  grid-row: 4;
  grid-column: 2;
}
#modifyContainer .modifyForm #itemCond {
  grid-row: 5;
  grid-column: 2;
}
#modifyContainer .modifyForm #itemBuyPrice {
  grid-row: 6;
  grid-column: 2;
}
#modifyContainer .modifyForm #itemEstimatedPrice {
  grid-row: 7;
  grid-column: 2;
}
#modifyContainer .modifyForm #itemSellPrice {
  grid-row: 5;
  grid-column: 2;
}
#modifyContainer .modifyForm #nameSpan {
  grid-row: 1;
}
#modifyContainer .modifyForm #brandSpan {
  grid-row: 2;
}
#modifyContainer .modifyForm #sizeSpan {
  grid-row: 3;
}
#modifyContainer .modifyForm #lengthSpan {
  grid-row: 4;
}
#modifyContainer .modifyForm #widthSpan {
  grid-row: 4;
  grid-column: 3;
  left: 30%;
}
#modifyContainer .modifyForm #insertSpan {
  grid-row: 4;
  left: 2%;
}
#modifyContainer .modifyForm #condSpan {
  grid-row: 5;
}
#modifyContainer .modifyForm #buySpan {
  grid-row: 6;
  left: 7%;
}
#modifyContainer .modifyForm #estimatedSpan {
  grid-row: 7;
}
#modifyContainer #unSold {
  width: 15vw;
  height: 3.5vh;
  border: 1px solid #bebebe;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  cursor: pointer;
  margin-top: 3%;
  background: none;
}
#modifyContainer #dates {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  top: -6%;
  height: 5vh;
  width: 12vw;
  text-align: center;
}
#modifyContainer #dates span {
  color: #1f3b4d;
  opacity: 1;
  font-size: 0.8em;
}
#modifyContainer #closeModal {
  position: absolute;
  left: 94%;
  top: 4%;
  background: none;
  outline: none;
  border: none;
  color: #1f3b4d;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}

.dark #modifyContainer {
  background-color: #1a1a1a;
}
.dark #modifyContainer .modifyForm input {
  background-color: #262626;
  box-shadow: inset 0 0 1px gray;
}
.dark #modifyContainer .modifyForm .addButton {
  background-color: #17b466;
  color: #1a1a1a;
  font-weight: 500;
}
.dark #modifyContainer #dates span {
  color: rgba(255, 255, 255, 0.85);
  opacity: 0.5;
}
.dark #modifyContainer #closeModal {
  color: #17b466;
}

/*# sourceMappingURL=modifyItem.css.map */
