/* main color */
/* details */
/*bordes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
::-webkit-scrollbar {
  width: 0.5vw;
  border-radius: 50px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #69686857;
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.7);
}

.tableContainer {
  position: absolute;
  width: 70vw;
  height: 70vh;
  left: 52%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  border-radius: 4%;
  padding: 1%;
}
.tableContainer #noItems {
  position: relative;
  top: 30%;
  font-size: 0.9em;
  opacity: 0.8;
}
.tableContainer .noteContent {
  position: relative;
  overflow-y: auto;
  height: 87%;
}
.tableContainer .itemsInfo {
  position: relative;
  display: grid;
  padding-top: 2px;
  margin-bottom: 2%;
  padding: 1.5% 0% 1% 0%;
  font-size: 1rem;
}
.tableContainer .itemsInfo span {
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}
.tableContainer .itemsInfo:after {
  content: "";
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: 1px;
  border-radius: 5%;
  background-color: rgba(255, 255, 255, 0.35);
}
.tableContainer .itemSlot {
  position: relative;
  cursor: pointer;
  display: grid;
  width: 100%;
  height: 5vh;
  font-size: 0.9rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.tableContainer .itemSlot:hover {
  background-color: #21272b;
}
.tableContainer .itemSlot p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tableContainer .itemSlot #itemNameCurrent, .tableContainer .itemSlot #itemNameSold {
  justify-content: left;
  padding-left: 2%;
}
.tableContainer .itemSlot button {
  display: flex;
  justify-content: left;
  padding-top: 20%;
}
.tableContainer .itemSlot .actionButton {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  width: 1.7vw;
  height: 2.6vh;
  margin-top: 12%;
}

.noteTableNavi {
  display: flex;
  width: 100vw;
  height: 15vh;
}
.noteTableNavi #search {
  position: relative;
  left: 49%;
  top: 34%;
  width: 10vw;
  height: 5vh;
  background: url("http://hypehub.pl/img/note/lupa.svg");
  background-size: 90%;
  background-repeat: no-repeat;
}
.noteTableNavi #search #searchInput {
  position: relative;
  top: -10%;
  height: 5vh;
  outline: none;
  border: none;
  background: none;
  padding-left: 5%;
}
.noteTableNavi .naviButton {
  position: relative;
  left: 13%;
  top: 35%;
  width: 7vw;
  height: 4.5vh;
  border: none;
  outline: none;
  font-size: 0.8rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}
.noteTableNavi .active {
  font-size: 1.1rem;
  opacity: 1;
  padding-bottom: 0.5%;
  border-radius: 1%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.currentColumns {
  grid-template-columns: 25% 15% 10% 10% 10% 12% 6% 6% 6%;
}

.soldColumns {
  grid-template-columns: 25% 12% 10% 7% 7% 7% 12% 15% 6%;
}

.menuButton {
  cursor: pointer;
  margin-top: 25px;
  width: 100%;
  height: 30px;
  background: none;
  border: 1px solid #69ad0f;
}

/* Menu options container [additem]*/
.noteMenu {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%);
}
.noteMenu #addButton {
  margin-top: -7%;
  height: 5.5vh;
  width: 10vw;
  cursor: pointer;
}

/* MODAL OPTIONS */
.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(18, 23, 26, 0.87);
  width: 100%;
  height: 100%;
}

.modalContent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  outline: none;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

@media only screen and (max-width: 480px) {
  .tableContainer {
    top: 55%;
    width: 30%;
    margin-top: 5%;
  }

  .noteIcon {
    width: 6vw;
    height: 2.5vh;
  }

  #addButton {
    width: 60vw;
  }

  .itemSlot {
    height: 16vh;
  }

  .itemsInfo {
    display: none;
  }

  .currentColumns {
    grid-template-columns: repeat(5, 20%);
  }
  .currentColumns #itemNameCurrent {
    font-weight: bold;
    padding-top: 3%;
    grid-column: 1/6;
    grid-row: 1;
  }
  .currentColumns #itemSizeCurrent {
    grid-column: 2;
    grid-row: 2;
  }
  .currentColumns #itemCondCurrent {
    grid-column: 3;
    grid-row: 2;
  }
  .currentColumns #itemBuyPriceCurrent {
    grid-column: 4;
    grid-row: 2;
  }
  .currentColumns .itemSellCurrent {
    grid-row: 4;
    grid-column: 2;
  }
  .currentColumns .itemInfoCurrent {
    grid-row: 4;
    grid-column: 3;
  }
  .currentColumns .itemDeleteCurrent {
    grid-row: 4;
    grid-column: 4;
  }
  .currentColumns .actionButton {
    margin-top: -25%;
    margin-left: 30%;
  }

  .soldColumns {
    grid-template-columns: repeat(5, 20%);
  }
  .soldColumns #itemName {
    padding-top: 3%;
    font-weight: bold;
    grid-row: 1;
    grid-column: 1/6;
  }
  .soldColumns #itemSize {
    grid-row: 2;
    grid-column: 2;
  }
  .soldColumns #itemCond {
    grid-row: 2;
    grid-column: 3;
  }
  .soldColumns #buyPrice {
    grid-row: 2;
    grid-column: 4;
  }
  .soldColumns #earnings {
    grid-row: 3;
    grid-column: 2/5;
    color: green;
  }
  .soldColumns #earnings:before {
    color: #C5C6C7;
    content: "Profit -";
    margin-right: 3%;
  }
  .soldColumns #itemTracking {
    grid-row: 4;
    grid-column: 2/5;
  }
  .soldColumns #itemSoldFor {
    grid-row: 5;
    grid-column: 2/5;
  }
  .soldColumns #itemDelete {
    grid-row: 6;
    width: 6vw;
    height: 2.5vh;
    grid-column: 3;
    margin-top: 3%;
    margin-left: 25%;
  }

  .noteTableNavi {
    position: relative;
    top: -2%;
    height: 12vh;
  }
  .noteTableNavi #searchInput {
    display: none;
  }
  .noteTableNavi span {
    display: none;
  }
  .noteTableNavi .naviButton {
    height: 4vh;
    width: 20vw;
    margin: 0% 5% 0% 5%;
    top: 90%;
  }
  .noteTableNavi .active {
    border-bottom: 0.5vh solid #69ad0f;
  }
}
@media only screen and (max-width: 1440px) {
  .tableContainer .itemSlot {
    height: 6vh;
  }
}

/*# sourceMappingURL=note.css.map */
