/* main color */
/* details */
/* details */
/*bordes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
#statsContainer {
  position: relative;
  width: 90vw;
  height: 100vh;
  left: 3%;
}
#statsContainer .statsSVG {
  position: absolute;
  width: 5.5vw;
  height: 5.5vh;
  fill: #1f3b4d;
}
#statsContainer #details {
  position: relative;
  top: 7%;
  left: 17%;
  width: 68vw;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  margin-top: 4%;
}
#statsContainer #details #totalProfit {
  background-color: #fafafa;
  position: relative;
  border-radius: 2%;
  border-bottom: 1px solid #17b466;
  width: 14vw;
  height: 15vh;
}
#statsContainer #details #totalProfit #profitSVG {
  fill: #17b466;
  left: -5%;
  top: 25%;
}
#statsContainer #details #totalProfit .detailsIcon {
  position: absolute;
  left: -15%;
  top: 23%;
  width: 8vh;
}
#statsContainer #details #currentItems {
  background-color: #fafafa;
  position: relative;
  border-radius: 5%;
  width: 14vw;
  height: 15vh;
}
#statsContainer #details #currentItems p {
  color: #1f3b4d;
  position: relative;
  top: 30%;
  font-size: 1.4rem;
}
#statsContainer #details #currentItems p:first-of-type {
  position: relative;
  top: 20%;
  left: 5%;
  font-size: 0.9rem;
}
#statsContainer #details #currentItems p:last-of-type {
  border-top: 1px solid #1f3b4d;
  padding-top: 4%;
  position: relative;
  top: 44%;
  font-size: 0.9rem;
}
#statsContainer #details #currentItems .detailsIcon {
  position: absolute;
  left: -25%;
  top: -5%;
  width: 10vh;
}
#statsContainer #details #soldItems {
  background-color: #fafafa;
  position: relative;
  border-radius: 5%;
  width: 14vw;
  height: 15vh;
}
#statsContainer #details #soldItems p {
  color: #1f3b4d;
}
#statsContainer #details #soldItems p:first-of-type {
  position: relative;
  top: 25%;
  left: 5%;
  font-size: 0.9rem;
}
#statsContainer #details #soldItems p:last-of-type {
  position: relative;
  top: 40%;
  font-size: 1.5rem;
}
#statsContainer #details #soldItems .detailsIcon {
  position: absolute;
  left: -25%;
  top: 0%;
  width: 10vh;
}
#statsContainer #moneyStats {
  position: relative;
  top: 30%;
  display: grid;
  height: 60vh;
}
#statsContainer #moneyStats #platform {
  position: relative;
  grid-row: 1;
  width: 35vw;
}
#statsContainer #moneyStats #week {
  position: relative;
  width: 35vw;
  grid-row: 1;
  grid-column: 2;
}

.dark #statsContainer #details #totalProfit {
  background-color: #1a1a1a;
}
.dark #statsContainer #details #totalProfit p {
  color: rgba(255, 255, 255, 0.85);
}
.dark #statsContainer #details #currentItems {
  background-color: #1a1a1a;
}
.dark #statsContainer #details #currentItems p {
  color: rgba(255, 255, 255, 0.85);
}
.dark #statsContainer #details #currentItems p:last-of-type {
  border: none;
}
.dark #statsContainer #details #soldItems {
  background-color: #1a1a1a;
}
.dark #statsContainer #details #soldItems p {
  color: rgba(255, 255, 255, 0.85);
}

/*# sourceMappingURL=stats.css.map */
