/* main color */
/* details */
/* details */
/*bordes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
#statsContainer {
  position: relative;
  width: 90vw;
  height: 100vh;
  left: 3%;
}
#statsContainer #details {
  position: absolute;
  top: 7%;
  left: 85%;
  width: 15vw;
  height: 80vh;
  display: grid;
  grid-template-rows: repeat(3, 33%);
  margin-top: 4%;
}
#statsContainer #details #totalProfit {
  background-color: #fafafa;
  box-shadow: 0px 0px 2px 0px #bebebe;
  position: relative;
  border-radius: 5%;
  width: 12vw;
  height: 15vh;
}
#statsContainer #details #totalProfit p:first-of-type {
  position: relative;
  top: 20%;
  left: 25%;
  width: 60%;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 5%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
#statsContainer #details #totalProfit p:last-of-type {
  position: relative;
  top: 30%;
  width: 60%;
  left: 25%;
  font-size: 1.3rem;
}
#statsContainer #details #totalProfit .detailsIcon {
  position: absolute;
  left: -15%;
  top: 23%;
  width: 8vh;
}
#statsContainer #details #currentItems {
  background-color: #fafafa;
  box-shadow: 0px 0px 2px 0px #bebebe;
  position: relative;
  border-radius: 5%;
  width: 12vw;
  height: 15vh;
}
#statsContainer #details #currentItems p {
  position: relative;
  top: 30%;
  font-size: 1.4rem;
}
#statsContainer #details #currentItems p:first-of-type {
  position: relative;
  top: 20%;
  left: 5%;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
}
#statsContainer #details #currentItems p:last-of-type {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 4%;
  position: relative;
  top: 42%;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
}
#statsContainer #details #currentItems .detailsIcon {
  position: absolute;
  left: -25%;
  top: -5%;
  width: 10vh;
}
#statsContainer #details #soldItems {
  background-color: #fafafa;
  box-shadow: 0px 0px 2px 0px #bebebe;
  position: relative;
  border-radius: 5%;
  width: 12vw;
  height: 15vh;
}
#statsContainer #details #soldItems p:first-of-type {
  position: relative;
  top: 25%;
  left: 5%;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
}
#statsContainer #details #soldItems p:last-of-type {
  position: relative;
  top: 40%;
  font-size: 1.5rem;
}
#statsContainer #details #soldItems .detailsIcon {
  position: absolute;
  left: -25%;
  top: 0%;
  width: 10vh;
}
#statsContainer #moneyStats {
  position: relative;
  left: -3%;
  top: 8.5%;
  display: grid;
  height: 60vh;
}
#statsContainer #moneyStats #platform {
  grid-row: 1;
  grid-column: 1;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  width: 32vw;
}
#statsContainer #moneyStats #week {
  position: relative;
  left: -5%;
  width: 32vw;
  grid-row: 1;
  grid-column: 2;
}
#statsContainer #moneyStats #month {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  width: 32vw;
  margin-top: 14%;
  grid-row: 2;
  grid-column: 1;
}
#statsContainer #moneyStats #year {
  position: relative;
  margin-top: 14%;
  left: -5%;
  width: 32vw;
  grid-row: 2;
  grid-column: 2;
}

/*# sourceMappingURL=stats.css.map */
